@charset "utf-8";
/* CSS Document */
.back-link {
    text-align: left;
    margin-top: 20px;
}

.back-link a {
    color: #667eea;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}
hr{
    width: 30%;
    margin-left: 0;
}